<div class="container mt-5">
  <div *ngIf="currentUser$ | async as currentUser" class="text-center mb-5">
    <p class="welcome-message mb-0">Welcome, {{ currentUser }}.</p>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Users with observable</h2>
    <a routerLink="/users/new" class="btn btn-primary">New User</a>
  </div>

  <ng-container *ngIf="users$ | async as users">
    <app-observable-user-list [users]="users.users"></app-observable-user-list>
  </ng-container>

  <div class="row" *ngIf="errorMessage">
    <div class="col-md-12">
      <div class="alert alert-warning">{{ errorMessage }}</div>
    </div>
  </div>
</div>
